@{
    ViewData["Title"] = "Home Page";
}
    <div class="row body">
        <div class="col-sm-6">
            <div id="map-canvas"></div>
        </div>
        <div class="col-sm-6 text-center">
            <h3>Parks</h3>
            <ul id="place-list">
            </ul>
        </div>
    </div>

    <fieldset>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtbBkcrGo97HSiQRD3seMq3NxwD6K5RWA"></script>
        <script type="module" src="../js/MapUtils.js"></script>
        <script type="module">
            var places = @Html.Raw(Json.Serialize(Model));

            import { MapLoader } from './js/mapUtils.js';
            var mapLoader = new MapLoader(places);
            mapLoader.load();
        </script>
    </fieldset>



